// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$light-blue: rgb(144, 204, 247);
$light-gray: rgb(227, 227, 227);
$gray-1: rgb(245, 245, 245);
$gray-2: rgb(245, 248, 255);
$gray-9: rgb(140, 140, 141);
$gray-10: rgb(83, 100, 113);
$light-green: rgb(0, 215, 116);
$gray-10: rgb(60, 62, 65);
$blue-0: rgb(29, 155, 240);