.verification-container {
    margin: 0;
    padding: 0;
    div {
        text-align: center;
    }
}

.verification-content {
    padding: 30px !important;
    padding-top: 15px !important;
    padding-bottom: 50px !important;
}